<section class="banner">

  <img src="{{ site.author.image | prepend: site.baseurl  }}" alt="author thumb" class="dot animated hinge fadeInDown">

  <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">Hello, My name is <strong itemprop="name">{{site.author.name}}</strong>I am a programmer! </h2>

  <nav class="actions">
    <a href="{{ "/about" | prepend: site.baseurl }}" class="button ghost">Hello</a>
    <a href="{{ site.repo }}/archive/master.zip" class="button ghost">Welcome Click Here</a>
  </nav>

</section>